@media screen and (min-width: 320px) {

  /************************************
    BLOCK GRID LAYOUT
  ************************************/
  .main p {
    padding: 15px;
    display: block;
    /*margin: 5px 10px;*/
    margin: 5%;
    width: 80%;
}
 

  
  /************************************
    MOBILE BG
  ************************************/
    header {
        min-height: 706px;
        min-width: 100%;
        text-align: center;
        background-image: url('../img/bryant.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: -25px 0;
    }
  

  /************************************
  PAGE: ABOUT
  ************************************/

  

}

@media screen and (min-width: 768px) {

  /************************************
  INLINE GRID LAYOUT
  ************************************/
    .main p {
        padding: 15px;
        display: inline-block;
        /*margin: 5px 10px;*/
        margin: 1.6%;
        width: 30%;
    }

    header {
        min-height: 706px;
        min-width: 100%;
        text-align: center;
        background-image: url('../img/Kobe-SSJ.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: -25px 0;
    }
}