/************************************
GENERAL
************************************/

body {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border-style: double;
  border-color; white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 20px auto;*/
  /*border-radius: auto; */
}


/************************************
HEADER
************************************/

header {
  min-height: 706px;
  min-width: 100%;
  text-align: center;
  background-image: url('../img/Kobe-SSJ.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: -25px 0;
}

h1 {
  font-family: 'Rakkas', cursive;
  font-size: 5em;
  /*margin: 80px 0 20px 0;*/
  padding: 200px 0 20px 0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h3 {
  font-family: 'Alegreya', serif;
  font-size: 3em;
  /*margin: 15px;*/
  padding: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header section {
  padding: 35px;
}


/************************************
MAIN
************************************/

article {
  text-align: center;
  /*width: 100%;*/
}

.main {
  /*max-width: 100%;*/
}

.main h2 {
  font-family: 'Baloo Da', cursive;
  padding: 40px 0 10px 0;
}

/*.main p {
  padding: 15px;
  display: inline-block;
  margin: 5px 10px;
  margin: 2%;
  width: 30%;
}*/

.col-md-4 {
  /*width: 30%;*/
  /*float: left;*/
  /*margin: 1.6%;*/
  /*position: absolute;*/
}

.row {
  margin: 0;
}



/************************************
LEAGUES
************************************/

.leagues ul {
  /*margin: 30px auto;*/
  padding: 45px;
}

.leagues li {
  list-style: none;
  display: inline;
  padding: 20px 25px;
}

.league-icon {
  width: 100px;
  height: 100px;
  margin: 5px auto;
  border-radius: 15%;
}

.league-icon-mlb {
  width: 150px;
  height: 100px;
  margin: 5px auto;
  border-radius: 15%;
}



/************************************
BOTTOM SECTION
************************************/

section {
  text-align: center;
  clear: both;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.last {
  height: 270px;
  background-image: url(../img/court.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.last h3 {
  font-family: 'Baloo Da', cursive;
  font-size: 2.5em;
  padding: 40px;
}


/************************************
FOOTER
************************************/

footer {
  margin: auto 15px;
}

ul {
  list-style: none;
}

ul li a {
  float: right;
  padding: 5px;
}

footer p {
  float: left;
  margin: 10px 5px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 5px auto;
}


/************************************
COLORS
************************************/

body {
  background-color: #edf2f4;
  color: #8d99ae;
}

button {
  background: #EF233C;
}
