/************************************
GENERAL
************************************/

body {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border-style: double;
  border-color; white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 20px auto;*/
  /*border-radius: auto; */
}


/************************************
JUMBOTRON
************************************/

header {
  /*min-height: 706px;*/
  /*min-width: 100%;*/
  text-align: center;
  background-image: url('../img/Kobe-SSJ.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: -25px 0;
}

h1 {
  font-family: 'Rakkas', cursive;
  font-size: 5em;
  /*margin: 80px 0 20px 0;*/
  padding: 150px 0 20px 0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

header h3 {
  font-family: 'Alegreya', serif;
  font-size: 3em;
  /*margin: 15px;*/
  padding: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header section {
  padding: 35px;
}


/************************************
HOW IT WORKS
************************************/

article {
  text-align: center;
  /*width: 100%;*/
}

.main ul {
  display: inline-block;
}

.main h2 {
  font-family: 'Baloo Da', cursive;
  padding: 40px 0 10px 0;
}

.main h4 {
  padding-top: 25px;
  display: inline-block;
  margin: 5px 10px;
}

.col-md-4 {
  /*width: 30%;*/
  float: left;
  /*margin: 1.6%;*/
  padding-top: 20px;
}

.row {
  margin: 0;
  padding: 0;
  display: block;
}



/************************************
LEAGUES WE COVER
************************************/

.leagues {
  /*margin: 30px auto;*/
  padding: 45px 0;
}

.leagues h3 {
  padding-bottom: 30px;
  text-shadow: none;
}

.leagues ul {
  padding: 0;
}

.leagues li {
  list-style: none;
  display: inline;
  padding: 20px 25px;
}

.league-icon {
  width: 100px;
  height: 100px;
  margin: 5px auto;
  border-radius: 15%;
}

.league-icon-mlb {
  width: 150px;
  height: 100px;
  margin: 5px auto;
  border-radius: 15%;
}



/************************************
BOTTOM BANNER
************************************/

section {
  text-align: center;
  clear: both;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.last {
  height: 270px;
  background-image: url(../img/court.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.last h3 {
  font-family: 'Baloo Da', cursive;
  font-size: 2.5em;
  padding: 40px;
}


/************************************
FOOTER
************************************/

footer {
  padding: 10px 15px;
}

ul {
  list-style: none;
}

ul li a {
  float: right;
  padding: 0 5px;
}

footer p {
  float: left;
  margin: 10px 0;
}

.social-icon {
  width: 30px;
  height: 30px;
  /*margin: 5px auto;*/
}


/************************************
COLORS
************************************/

body {
  background-color: #edf2f4;
  color: #2b2d42;
}

header {
  color: #edf2f4;
}

.last {
  color: #edf2f4;
}

button {
  background: #EF233C;
  color: #edf2f4;
}



/************************************
FORM
************************************/

/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/

#abc {
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto;
}

img#close {
  position:absolute;
  right:-14px;
  top:-14px;
  cursor:pointer;
}

div#popupEmail {
  position:absolute;
  left:50%;
  top:17%;
  margin-left:-202px;
  font-family: 'Alegreya', serif;
}

form {
  max-width:300px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid gray;
  border-radius:10px;
  font-family: 'Alegreya', serif;
  background-color:#fff;
}

/*p {
  margin-top:30px;
}

h2 {
  background-color:#FEFFED;
  padding:20px 35px;
  margin:-10px -50px;
  text-align:center;
  border-radius:10px 10px 0 0;
}*/

hr {
  margin:10px -50px;
  border:0;
  border-top:1px solid #ccc;
}

input[type=text] {
  width:82%;
  padding:10px;
  margin:30px 0;
  border:1px solid #ccc;
  padding-left:40px;
  font-size:16px;
  font-family: 'Alegreya', serif;
}

#name {
  background-image:url(../img/name.png);
  background-size: 20px 20px;
  background-repeat:no-repeat;
  background-position:5px 7px
}

#email {
  background-image:url(../img/email.png);
  background-size: 20px 20px;  
  background-repeat:no-repeat;
  background-position:5px 7px;
}

#submit {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px;
}
